{% extends 'post/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<section class="breadcrumb_part" style="height: 230px;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb_iner">
                  <h2 style="font-size: 40px;">پروفایل کاربری</h2>
              </div>
          </div>
      </div>
  </div>
</section>

  <form class="w-full max-w-lg col-lg-6" method="post" style="margin: 30px;">
    {% csrf_token %}
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name" style="width:150px;">
          نام
        </label>
        {{form.first_name|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"}}
        
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name" style="width:150px;">
          نام خانوادگی
        </label>
        {{form.last_name|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}}
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password" style="width:150px;">
          ایمیل
        </label>
        {{form.email|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}}
        <p class="text-gray-600 text-xs italic"></p>
      </div>
      
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label style="width:150px;" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          تلفن همراه
        </label>
        {{form.phone_number|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}}
        <p class="text-gray-600 text-xs italic"></p>
      </div>
     
      <button name="profile" style="background-color: rgb(95, 213, 95);" class="bg-green-500 hover:bg-blue-700 text-white font-bold p-2 border border-blue-700 rounded m-auto" type="submit">
         ویرایش
      </button >
    </div>
  </form>


  <form class="w-full max-w-lg col-lg-6" method="post" style="margin: 30px;">
    {% csrf_token %}
    <div class="flex flex-wrap -mx-3 mb-6">
      
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          شهر
        </label>
        {{form2.city|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}}
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          آدرس
        </label>
        {{form2.address|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}}
        <p class="text-gray-600 text-xs italic"></p>
      </div>
      
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          کد پستی
        </label>
        {{form2.zipcode|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}}
        <p class="text-gray-600 text-xs italic"></p>
      </div>
     
      <button class="bg-green-500 hover:bg-blue-700 text-white font-bold p-2 border border-blue-700 rounded m-auto" type="submit">
         ویرایش
      </button >
    </div>
  </form>

{% endblock %}